@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="text-center">
    <h1 class="display-4">ACESSO NEGADO!</h1>
    <p class="text-danger">É necessário nível de acesso de Administrador para executar esta ação.</p>
</div>